:host {
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
    font-size: 12px;
    color: #fff;
    box-sizing: border-box;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
  }
  /* menu toolbar*/
  .menu {
    display:none;
  }
  .grid {
    display: grid;
    grid-gap: 10px;
    grid-template-columns: 0.9fr 69px;
    position: relative;
    z-index: 1;
  }
  .menus * {
    padding: 20px 10px 0 10px;
  }
  /* desplegable*/
  #navegador { 
    display: flex;
    padding: 0 ;
    align-content: flex-start;
    transform: translate(0%,-1%);
    } 
  #navegador ul {
    text-align: left;
    display: grid;
    grid-template-columns: auto auto auto auto auto auto auto auto;
    padding: 0px 1px;
    font-size: 13px;
    width: 80%;
    }
  #navegador li { 
    margin: 0px 0px 5px 0px; 
    padding: 0em 1% 0 10%; 
    color: #0969da ; 
    width: 70%;
    float: left;
    align-content: left;
    list-style-type: none;
    position: relative;
    }
#navegador li a { 
    margin: 0px 1px 0px 1px;;
    box-sizing: content-box;
    display:inline;
    }
#subseccion1, #subseccion2 { 
    position: absolute;
    top: 100%;
    width: 210px;
    left: 0px;
    background-color: #1b114ba2;
    font:normal 0.9em Roboto;
    padding: 0 0 15px 0;
    display: none;
    }
#navegador li a:link, #navegador li a:visited { 
           color: #feffe4; text-decoration: none; }
#navegador li a:hover, #navegador li a:active { 
           color:#ffd7a9 ; text-decoration: none; }
.borrar { clear: both; }

  /* grid icons*/

  .grid-axis {     
    display: grid;
    grid-template-columns: auto auto auto auto auto auto auto auto;
    grid-gap: 2px;
    align-content: flex-end;
    margin: 15px 0 auto;
    transform: translate(-20%,-20%);
  }
   /* Modal*/
  .modal {
    background-color: rgba(23, 21, 39, 0.514);
    position: relative;
    display: none;
    align-content: center;
    top:0;
    right:0;
    bottom:0;
    left:0;
    opacity:0;
    pointer-events:none;
    transition: all 2s;
    padding-top: 10px;
    width: 100%;
    height: 100%;
    overflow: auto;
  }
    /* Modal Content */
  .modal-content {
    background-color:rgba(7, 4, 29, 0.267);
    padding: 1%;
    margin: 2% 1% 2% 1%;
    display: grid;
    position: relative;
    grid-gap: 10px;
    grid-template-columns: 25% 70% 5%;
    text-align: left;
    padding: 0;
    width: 100%;
    height: 90%;
    max-width: 1300px;
    max-height: 900px;
  }
  #descript1{
    opacity:1;
    pointer-events:auto;
  }
  .modal-content > div > img {
    position: block;
    margin: 1% 1% auto;
    padding: 0;
    width: 75%;
  }
  .info {
    position: grid; 
    text-align:left; 
    margin: 2% 2% auto; 
    height: 70%;
  }
  .botonesi {
    width: 145px; 
    height: 35px;
    margin: 0 15px 0 0 ;
    display: flex;
    border-style: none;
    justify-content: center;
    align-items: center;
    background-color: #254b75;
    border-radius: 3px;
    color:#fff;
  }
  .botonesi2 {
    height: 25px;
    border-radius: 40px;
    border-style: none;
    margin: 0 15px 0 0 ;
    background-color:#096bda00;
    color:#fff;
  }
  .imgi {
    width: 20px;
    text-align: left; 
    align-content: flex-start;
  }
   /* boton cerrar*/
  .close {
    color: #fff;
    position: absolute;
    top: 10px;
    right: 25px;
    font-size: 35px;
    font-weight: bold;
  }
   .close:hover,
  .close:focus {
    color: #999;
    text-decoration: none;
    cursor: pointer;
  }
   .container {
    margin-right: auto !important;;
    margin-left: auto !important;;
    max-width: 98% !important;;
  }

  /* Responsive Styles */
  @media screen and (max-width:640px ) {
    .menu {
      display:block;
      margin: 0;
    }
    .menus {
      display: flex;
    }
    .grid {
      display: flex;
      position: absolute;
      height: 260px;
      background:#023859;
      z-index:1000;
      max-width: 1000px;
      width:18%;
    }
    #navegador { 
      display: flex;
      position: relative;
      padding: 0 ;
      align-content: flex-start;
      transform: translate(0%,-1%);
      } 
    #navegador ul {
      text-align: left;
      display: block;
      width: 20%;
      }
    .axis {     
        position: block;
        width: 100%;
        height: 30px;
      }

    .grid-axis {     
      position: absolute ;
      display: flex;
      margin: 15px 20px 60px 450px;
    }

    .container {
      margin-right: auto !important;;
      margin-left: auto !important;;
      max-width: 90% !important;;
    }
  }
  @media screen and (max-width: 575px) {
    .menu {
      display:none;
      position: none !important;
      margin: 0;
    }
    .menus {
      display:block;
      position: absolute;
      height: 200px;
      width: 100%;
    }
    .grid {
      display: block;
      position: fixed;
      margin-top: 10px;
      height: 200px;
      background:#023859;
      z-index:1;
      max-width: 100%;
      width:100%;
    }
    #navegador { 
      display: flex;
      position: relative;
      padding: 0 ;
      background-color: transparent;
      width: auto !important;
      } 
    #navegador ul {
      text-align: center !important;
      display: block;
      position: relative;
      padding: 0px 1px;
      font-size: 13px;
      width: 100%;
      }
    #navegador li { 
      background-color: #064f7c;
      border: black;
      padding: 0%!important;
      width: 100%!important;
      align-content: center !important;
      list-style-type:none;
      }
      #navegador li a { 
      margin: 0px 1px 0px 1px;;
      }
      #subseccion1, #subseccion2 { 
      position: absolute;
      left: 25%;
      z-index: 2;
      }
      .axis {     
        position: block;
        width: 100%;
        height: 30px;
      }
      .grid-axis {     
      position: absolute ;
      display: flex;
      grid-template-columns: auto auto auto auto auto auto auto auto;
      grid-gap: 2px;
      height: 30px;
      margin: 0px 20px 60px 25%;
      align-content:flex-end;
      transform: translate(-80%,-20%);
    }
    .modal {
      position:relative;
      align-content: center;
      pointer-events:none;
      transition: all 2s;
      padding-top: 5%;
      width: 100%;
    }
    .modal-content {
      display: block;
      position: relative;
      max-width: 100%;
      max-height: 100%;
      z-index: 3;
    }
    .modal-content > div > img {
      position: block;
      margin: 1%;
      padding: 0;
      width: 25%;
    }
    #descript1{
      width: 100%;
    }
    .botonesi {
      width: auto; 
    }
      .botonesi2 {
      height: autox;
    }
      .imgi {
      width: 20px;
      text-align: center; 
    }
        .container{
      max-width: 100% !important;;
    }
  }