<!-- Toolbar -->
<div class="grid">
    <div class="item">
            <button class="menu">
              <span class="material-icons">view_headline</span>
            </button>
        <div class="menus">
          <div id="navegador">
            <ul>
              <li>
                <a href="#">Peliculas</a> 
              </li>
              <li>
                <a href="#">Series</a>
              </li>
              <li>
              <a href="#">Anime</a>
              </li>
              <li style="width: 90px;">
              <a href="#">Favoritos</a>
              </li>
              <li>G&eacute;nero</li><li id="seccion1" onclick="ver(1)" onmouseout="ocultar(1)" style="width: 95px;">
                <a href="#">Todos &#9660;</a>
                <div id="subseccion1">
                  <p><a href="#"> Subsección uno uno</a></p>
                  <p><a href="#"> Subsección uno dos</a></p>
                  <p><a href="#"> Subsección uno tres</a></p>
                  <p><a href="#"> Subsección uno cuatro</a></p> 
                </div>
              </li>
              <li style="width: 75px;">Ordenar por</li><li id="seccion2" onclick="ver(2)" onmouseout="ocultar(2)" style="width: 125px; ">
                <a href="#">Popularidad &#9660;</a>
                <div id="subseccion2">
                  <p><a href="#"> Subsección uno uno</a></p>
                  <p><a href="#"> Subsección uno dos</a></p>
                  <p><a href="#"> Subsección uno tres</a></p>
                  <p><a href="#"> Subsección uno cuatro</a></p> 
                </div>
              </li>
            </ul>
          </div>
        </div>
    </div>
    <div class="axis">
      <div class="grid-axis">
          <span class="material-icons" style="color:brown;">lock_open</span>
          <a href="#descript1" style="color:white;" onclick="searchs()"><span class="material-icons">search</span></a>
          <span class="material-icons">favorite</span>
          <span class="material-icons">inbox</span>
          <span class="material-icons">info</span>
          <span class="material-icons">archive</span>
          <span class="material-icons">settings</span>
      </div>
    </div>
  </div>
  <div id="campos"></div>
  
 <!--Body -->
    <div *ngFor="let info of grillas">
      <div id="descript1" *ngIf="info.id == 1"class="modal">
          <div class="modal-content" >
          <div><img src={{info.image}}></div>
          <div><div class="info" ><h2>{{info.title}}</h2><h6>{{info.year}} &nbsp; &#13; &nbsp; 1:48 &nbsp; &#183; &nbsp; {{info.gender}} &nbsp; &#183; &nbsp; <img src="../assets/Img/imdb.gif" style="width: 3%;"> &nbsp; &#183; &nbsp; 1/24 </h6><p>{{info.sinopsys}}</p></div>
          <div class="grid">
            <div class="item"><div id="navegador"><div style="width: 28px;"><span class="material-icons">favorite</span></div><div style="width: 160px;"><h5>Añadir favoritos</h5></div><div style="width: 28px;"><span class="material-icons">visibility_off</span></div><h5>No Visto</h5></div>
              <div id="navegador"><div><button class="botonesi" ><div style="margin-right: 20px;"><h5>Ver ahora</h5></div>&#9474;<div><img src="../assets/Img/playview.gif" class="imgi"></div><div> &#9650;</div></button></div><button class="botonesi"><h5>Ver trailer</h5></button><button class="botonesi"><h5>Descargar</h5></button><button class="botonesi2" style="background-color: #0969da;"><h5>720p</h5></button><button class="botonesi2"><h5>1080p</h5></button><button class="botonesi2"><h5>2160p</h5></button>  </div></div>
            <div class="item"><div id="navegador" style="width: 160px"><ul><div style="width: 100px;"><h5>Subtitle</h5></div></ul><ul><div><img src="../assets/Img/X.GIF" class="imgi"></div><div> &#9650;</div></ul></div>
              <div id="navegador" style="width: 160px"><ul><div style="width: 100px;"><h5>Audio language</h5></div></ul><ul><div><img src="../assets/Img/Bandera.gif" class="imgi"></div><div> &#9650;</div></ul></div></div></div></div>
          <div><a href="#"><span class="close cursor" onclick="closeModal(1)">&times;</span></a></div></div>
      </div>
    </div>

     <app-posts></app-posts>

<!-- Footer -->
