
body {
    background-color: #24292f;
}
html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }

html,
body {
    height: 100%;
}

  /* grid imagenes*/
.imagenes {
    max-width: 116px;
    padding:  10px;
    margin: 8px;
}

.container {
    width: 100%;
    height: auto;
    display: flex !important;
    flex-wrap: wrap;
    margin-left: 1%;
}

.title {
    width: 118px; 
    margin-left: 8px;
}
/* boton buscar abir*/
.searchs {
    background-color: rgba(23, 21, 39, 0.514);
    position: relative;
    display: none;
    margin: 2% 1% 2% 1%;
    align-content: right;
    pointer-events:none;
    transition: all 2s;
    width: 100%;
    overflow: auto;
  }

  .form-group {
    background-color:rgba(7, 4, 29, 0.267);
    margin: 2% 10% 2% 1%;
    display: grid;
    position: relative;
    grid-template-columns: 98% 2%;
    position: block;
    width: 100%;
    max-width: 1300px;
  }

  #buscar {
    opacity:1;
    pointer-events:auto;
  }
/* boton cerrar*/
  .closeS {
    color: #fff;
    right: 25px;
    font-size: 35px;
    font-weight: bold;
    text-decoration: none;
  }

  @media screen and (max-width: 640px) {
    .imagenes {
        max-width:  50px;
        padding:  8px;
        margin: 18px;
    }
    .container {
        width: 100%;
        height: auto;
        display: flex !important;
        flex-wrap: wrap;
        margin-left: 16%;
        padding: 5%;
    }
    .searchs {
        background-color: rgba(23, 21, 39, 0.514);
        position: relative;
        display: none;
        margin: 0% 1% 0% 18%;
        pointer-events:none;
        transition: all 2s;
        width: 80%;
        overflow: auto;
        padding-top: 6%;
      }
      .form-group {
        background-color:rgba(7, 4, 29, 0.267);
        margin: 2% 10% 2% 1%;
        display: grid;
        position: relative;
        grid-template-columns: 90% 2%;
        position: block;
        width: 100%;
        max-width: 1300px;
      }
  }
  
  @media screen and (max-width: 575px) {
    .imagenes {
        max-width:  30px;
        padding:  8px;
        margin: 1px;
    }
    .container {
        width: 100%;
        height: auto;
        display: flex!important;
        flex-wrap: wrap;
        padding: 58% 5% 5% 5%;
    }
    .searchs {
        background-color: rgba(23, 21, 39, 0.514);
        position: relative;
        display: none;
        margin: 0% !important;
        pointer-events:none;
        transition: all 2s;
        width: 100%;
        overflow: auto;
        padding-top: 220px;
      }
      .form-group {
        background-color:rgba(7, 4, 29, 0.267);
        margin: 2% 10% 2% 1%;
        display: grid;
        position: relative;
        grid-template-columns: 92% 2%;
        position: block;
        width: 100%;
        max-width: 100%;
      }
  }